body {
    background-color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 136px 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    justify-content: space-between;
    /*align-content: center;*/
    font-size: 18px;
}

.menu-header {
    display: flex;
    gap: 26px 33px;
    list-style: circle;
}

address {
    max-width: 240px;
    justify-self: end;
    font-style: normal;
    line-height: 24px;
}

.header_logo {

}

.telephone_header{
    text-decoration: underline;
    text-underline-offset: 4px;
    list-style-type: none;
}

.mail_header {
    text-decoration: underline;
    text-underline-offset: 4px;
    list-style-type: none;
}

.street_header {
    list-style-type: none;
}

.menu-header_cover {
    list-style:none
}

.menu-header_lots {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.menu-header_about {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover {}

.description {}

.lots {}

.about {}

.futer {}

.logo-about {}

.column {}

.footer-address {}

.gap {}

.telephone_header {}

.mail_header {}

.street_header {}

.footer-naw {}

.futer-social {}

.futer-social_youtube{}

.futer-social_vk{}

.futer-social_pinterest{}

